<div id="channels-container">
    <div id="channel-blank">
        <p>You have no open channels</p>
    </div>

    <div id="channels-list">

    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <div class="spacer"></div>

    <div>
        <div class="hidden">
            <input type="file" id="import-channel" />
        </div>
        <button class="btn btn-primary" id="import-channel-button">Import Channel<i class="fas fa-upload"></i></button>
    </div>

    <div>
        <p>Import channel .txt file</p>
        <p id="import-channel-error-text" class="error invisible">Invalid channel data</p>
    </div>
</div>
