<div id="markets-container">
    <div class="section-heading">
        <h4>Markets</h4>
    </div>
    <div>
        <div class="tx-row">
            <a id="view-markets-link">View Markets</a>
        </div>
    </div>
</div>
