<div id="send-container">
    <div class="section-heading">
        <h4>Send VEO</h4>
    </div>
    <div>
        <label>Address</label>
        <input id="send-address" type="text" />
    </div>
    <div>
        <label>Amount</label>
        <input id="send-amount" type="number" min="0" />
        <a id="send-max-amount" href="#">Max</a>
    </div>
    <div>
        <div>
            <label>Max Tx Fee</label>
            <input id="tx-fee" type="number" min="0" step="0.001" value="0.00151168" />
        </div>
    </div>
    <div>
        <button id="send-button" class="btn btn-success">Send</button>
    </div>
    <div>
        <p id="send-message"></p>
    </div>
</div>