<div id="transactions-container">
    <div class="section-heading">
        <h4>Pending Transactions</h4>
    </div>
    <div id="pending-transactions-container">

    </div>

    <div>
        &nbsp;
    </div>

    <div class="section-heading">
        <h4>Completed Transactions</h4>
    </div>

    <div class="tx-row">
        <a id="account-veoscan-link">View Completed Transactions</a>
    </div>
</div>